# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [104]:
# Import pandas and any other libraries you need here.
import pandas as pd

# Create a new dataframe from your CSV
df = pd.read_csv("/Users/cathleen/Downloads/Womens Clothing E-Commerce Reviews.csv")

In [21]:
# Print out any information you need to understand your dataframe.

# print(df.head(10))
# print(df.tail(10))
# print(df.shape) #There are 23,486 rows and 11 columns
# print(df.info()) #.info confirms the shape and show us where we might find the nulls.  
# print(df.describe()) #Taking a look at the statistics of the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
None

## Missing Data

Try out different methods to locate and resolve missing data.

In [74]:
# Try to find some missing data!   
import pandas as pd 
# print(df.isnull)
# print(df.isnull().sum())

#  I don't think 'Title" or 'Review Text" , so I can fill those in with "not submitted"
# df.fillna("Left Blank")
print(df.tail(10))

       Unnamed: 0  Clothing ID  Age  \
23476       23476          522   27
23477       23477         1094   39
23478       23478         1104   32
23479       23479         1005   42
23480       23480          862   35
23481       23481         1104   34
23482       23482          862   48
23483       23483         1104   31
23484       23484         1084   28
23485       23485         1104   52

                                                   Title  \
23476                                            Cheeky!
23477                                         Entrancing
23478                                       Unflattering
23479                                  What a fun piece!
23480                                                NaN
23481                     Great dress for many occasions
23482                         Wish it was made of cotton
23483                              Cute, but see through
23484  Very cute dress, perfect for summer parties an...
23485                    Please make more like this one!

                                             Review Text  Rating  \
23476  These bottoms are very cute but defiantly chee...       4
23477  I'm so impressed with the beautiful color comb...       4
23478  I was surprised at the positive reviews for th...       1
23479  So i wasn't sure about ordering this skirt bec...       5
23480                                                NaN       5
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
23476                1                        0       Initmates
23477                1                        5  General Petite
23478                0                        0  General Petite
23479                1                        0  General Petite
23480                1                        0  General Petite
23481                1                        0  General Petite
23482                1                        0  General Petite
23483                0                        1  General Petite
23484                1                        2         General
23485                1                       22  General Petite

      Department Name Class Name
23476        Intimate       Swim
23477         Dresses    Dresses
23478         Dresses    Dresses
23479         Bottoms     Skirts
23480            Tops      Knits
23481         Dresses    Dresses
23482            Tops      Knits
23483         Dresses    Dresses
23484         Dresses    Dresses
23485         Dresses    Dresses

Did you find any missing data? What things worked well for you and what did not?

In [70]:
# Respond to the above questions here:
# Using  print(df.isnull().sum()) was a lot more helpful.  I can see that 3,810 entries are missing a title, 845 have no review, and 14 ar missing Division Name, Department Name, and Class name. 
#  I also know for looking at the data set in Google Sheets that rows 23488 and 23489 are missing all the data fields.

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [106]:
# Keep an eye out for outliers!

# import pandas as pd
# import matplotlib.pyplot as plt
# df.plot()
# plt.show()


# import pandas as pd
# import matplotlib.pyplot as plt
# df.plot(kind = 'scatter', x = 'Rating', y = 'Class Name')
# plt.show()

# import pandas as pd
# import matplotlib.pyplot as plt
# df["Age"].plot(kind = 'hist')
# plt.show()

# import pandas as pd
# import matplotlib.pyplot as plt
# df["Rating"].plot(kind = 'hist')
# plt.show()

# Trying to use statistic on a column to find outliers.
# outliers = (df['Rating']) < 4.2 - 3 * 1.1  
# outliers = (df['Rating'] > 4.2 + 3 * 1.1)
# sum(outliers)

ValueError: could not convert string to float: 'Some major design flaws'

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [ ]:
# Make your notes here:

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplice column. Check out the dataset to see if there is any unnecessary data.

In [68]:
# Look out for unnecessary data!
# Duplicates, 
import pandas as pd
print(df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
23481    False
23482    False
23483    False
23484    False
23485    False
Length: 23486, dtype: bool

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [96]:
# Look out for inconsistent data!
import pandas as pd
# get all the unique values in the 'Division Name' column
# returns ['Initmates' 'General' 'General Petite' nan]
division = df['Division Name'].unique()
print(division)

# get all the unique values in the 'Department Name' column
# returns ['Intimate' 'Dresses' 'Bottoms' 'Tops' 'Jackets' 'Trend' nan]
department = df['Department Name'].unique()
print(department)


# get all the unique values in the 'Class Name' column
# returns ['Intimate' 'Dresses' 'Bottoms' 'Tops' 'Jackets' 'Trend' nan]
kind = df['Class Name'].unique()
print(kind)

# get all the unique values in the 'Clothing ID' column
# returns 
number = df['Clothing ID'].unique()
print(number)

['Initmates' 'General' 'General Petite' nan]
['Intimate' 'Dresses' 'Bottoms' 'Tops' 'Jackets' 'Trend' nan]
['Intimates' 'Dresses' 'Pants' 'Blouses' 'Knits' 'Outerwear' 'Lounge'
 'Sweaters' 'Skirts' 'Fine gauge' 'Sleep' 'Jackets' 'Swim' 'Trend' 'Jeans'
 'Legwear' 'Shorts' 'Layering' 'Casual bottoms' nan 'Chemises']
[ 767 1080 1077 ...  181  721  522]

Did you find any inconsistent data? What did you do to clean it?

In [110]:
# Make your notes here!
# I only found one instance of inconsistent data.  Intimates with the final 's' left off.